body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('../Asset/bg.jpg');	
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#left {
	float:left;
	width:45%;
	padding-left:10px;
}

#right {
	float:right;
	width:45%;
	padding-left:10px;
}

#rectangle {
	width:200px;
	height:auto;
	padding-top:5px;
	text-align:center;
	padding-bottom:5px;
	background:#4E4747;
	border-radius:10px;
	font-weight:bold;
	font-size:20px;
	color:white;
	margin-left:15%;
}

#divider {
	width:1000px;
	height:200px;
	background-image:url('../Asset/code.png');
}

#wrapper {
	width:1000px;
	margin:auto;
	background:white;
	border:0px solid #bbb;
	position:relative;
}