@{
    ViewBag.Title = "Home";
}


<div style="overflow:auto;">
    <div id="left">
        <div id="rectangle">User Story</div>
        <p style="text-align:justify; margin-left:20px;">
            Como Product owner requiero que se tenga una capacitación en los servicios web Rest API (2.0), para
            prender como trabaja la tecnología, y se desarrolle una aplicación demo que consista en crear una
            pequeña aplicación que mande una notificación después de recibir un aviso que una persona fue detectada,
            por ejemplo pueden simular un módulo de detección como se les ocurra, y cuando encuentre una
            coincidencia de la misma, entonces enviar la notificación.
        </p><br />

        <div id="rectangle">Objetivos</div>
        <p style="text-align:justify; margin-left:20px;">
            Familiarizar la tecnologia Restful y hacer uso de los verbos, GET, POST para las pruebas.
        </p><br />

        <div id="rectangle">Aplicación</div>
        <p style="text-align:justify; margin-left:20px;">
            Se realizó una aplicación de registro de datos sobre las caracteristicas facial de las personas y asi mismo
            se puede realizar busquedas con los datos faciales para encontrar o identificar la persona registrada.
        </p><br />

    </div>

    <div id="right">
        <div id="rectangle">Diseños iniciales</div> <br />
        <div>
            <img src="~/Asset/2.jpg" alt="diseño1" height="300" width="400">
            <img src="~/Asset/1.jpg" alt="diseño2" height="300" width="400">
            <img src="~/Asset/modelo.jpg" alt="diseño3" height="300" width="400">
        </div>
    </div>
</div>