@{
    ViewBag.Title = "About";
}
<h2>Entity Framework</h2>

<p style="text-align:justify; margin-left:20px;">
    Es una herramienta que te permite mediante una estructura de clases representar modelos para crear una base de datos basada en objetos,
    donde a cada tabla se le conoce aquí como un modelo, y los campos de una tabla aquí no son más que atributos del modelo. Esto permite a
    los desarrolladores que trabajan con base de datos relacionales trabajar de manera más eficiente.<br />
    <br />
    Esto es porque la manera común de trabajar con Base de Datos, es mediante SQL Server, para lo cual hay que montar el servidor y crear las tablas,
    consultas, procedimientos, etc., sin embargo al momento de querer hacer un cambio a la B. D. es necesario hacer scripts para actualizar esta, lo cual
    al mismo tiempo va a costar tiempo y causa conflictos.<br />
    <br />
    Entity Framework tiene la solución a esto, porque con los modelos uno puede cambiar de manera simple los atributos que puede tener dicho modelo,
    o agregar nuevos modelos, y todo esto no se maneja por separado con una herramienta como SQL Server, sino que con el mismo código, en este caso C#,
    se pueden crear los modelos, y bien si se llegase a necesitar una modificación en algún modelo, basta con realizar una migración, que no es más que una
    actualización de la base de datos actual, para que no haya problemas al momento de usarla.
</p>
