@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MovieRental</h1>
    <img src="~/Asset/code.png" alt="codefirst" height="200" width="850">
</div>

<div style="overflow:auto;">
    <div id="left">
        <div id="rectangle">User Story</div>
        <p style="text-align:justify; margin-left:20px;">
            Como product owner requiero que se capaciten en Entity Framework 6.0 para que se desarrolle una aplicación funcional
            que utilice el modelo de Code First, la aplicación propuesta es la de la gestión de renta de películas en una sucursal
            similar a la de BlockBuster.
        </p><br />

        <div id="rectangle">Objetivos</div>
        <p style="text-align:justify; margin-left:20px;">
            Realizar una aplicación funcional aplicando Entity Framework bajo el modelo Code First.
        </p><br />

        <div id="rectangle">Aplicación</div>
        <p style="text-align:justify; margin-left:20px;">
            Se realizó una aplicación funcional utilizando Entity Framework 6.0 bajo el modelo Code First.
            La aplicación consiste en un sistema de gestión de rentas de películas de una sucursal.
        </p><br />

    </div>

    <div id="right">
        <div id="rectangle">Diseños iniciales</div> <br />
        <div>
            <img src="~/Static/Asset/diseno.jpg" alt="diseño1" height="300" width="400">
            <img src="~/Static/Asset/modelo.jpg" alt="diseño2" height="300" width="400">
        </div>
    </div>
</div>